h1 {font-weight:bold!important;}
h2 {border-bottom:2px solid #999;}
h4 > code > span:first-child {font-weight:bold;}

.doc-attribute > h4 {font-size:0.85rem;}
.doc-function > h4 {border-left:3px solid #333;}

/*.doc-contents.first > details.quote {padding-left:0; padding-right:0;}*/
/*.doc-contents.first > details.quote > summary {margin:0;}*/
/*.doc-contents > details.quote:first-of-type {background:#9e9e9e12;}*/
table th, table td {padding:0.3rem!important;}
table p {margin-block-start:0.1rem;}

.doc-children > .doc-object {padding-left:20px;}
.md-content__inner {padding-bottom:5rem;}   /* Padding at the bottom of the page */


/*
SIDEBAR
*/
.md-sidebar a.md-nav__link--active {font-weight:bold; color:#333;}

/*
ADMONITIONS
*/
.md-typeset .admonition.example,
.md-typeset details.example {border:none;}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {background-color:#9e9e9e20;}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {background-color:#999;
    -webkit-mask-image: var(--md-admonition-icon--example); mask-image: var(--md-admonition-icon--example);}

/*
md-tabs
*/
li.md-tabs__item.md-tabs__item--active {font-weight:bold;}